@import "@style/globalVariables.scss";

.dropdown {
  left: 0;
  z-index: 1000;
  width: 100%;
  pointer-events: auto;
  animation: descend 0.3s ease-in-out forwards;
  will-change: transform, opacity;
  box-sizing: border-box;

  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;

  @media (max-width: 768px) {
    max-height: 100%;
    padding: 5px;
  }
}

.bigItemsList {
  width: 100%;
  background-color: white;
  list-style-type: none;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  grid-auto-rows: auto;
  column-gap: 20px;
  row-gap: 10px;
  justify-content: center;
  max-width: 70%;
  max-height: 100%;
}

.itemsList {
  max-height: 100%;
  padding: 10px;
  border-radius: 5px;
}

.text {
  animation: appear 0.3s ease-in-out forwards;
  list-style-type: none;
  padding: 5px;
  position: relative;
  color: $BlueDark;
  text-decoration: none;
  transition: color 0.4s ease;
  font-family: $MontserratRegular;
}

.element {
  position: relative;
  &:hover {
    cursor: pointer;
    color: $RedMedium;
  }
}

.element {
  text-decoration: none;
  color: $BlueDark;
  cursor: pointer;
  position: relative;

  &:hover {
    color: $GreenMedium;
    transition: color 0.25s ease;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes descend {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0%);
  }
}


